# IDE config
.idea/
.vscode/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
*.log
logs/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.env